@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap");

body {
	font-family: "Dosis", "Roboto";
}

h1 {
	height: 10vh;
	line-height: 10vh;
	margin: 0;
	text-align: center;
}

.navLinks {
	margin-top: 2rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.navLinks > a {
	color: #fff;
	background-color: #3f51b5;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1rem;
	border-radius: 2rem;
	cursor: pointer;
	padding: 0.5rem 1.5rem;
	transition: transform 0.3s, box-shadow 0.3s;
}

.navLinks > a:hover {
	box-shadow: 3px 3px 0px rgb(158, 166, 214);
	transform: translateY(-3px) translateX(-3px);
}

#title {
	text-align: center;
}

#course_table_container {
	padding: 100px;
}

#course_table {
	border-collapse: collapse;
	width: 100%;
}

#course_table td,
#course_table th {
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 1rem;
}

#course_table tr {
	text-align: center;
}

#course_table tr:nth-child(even) {
	background-color: #f2f2f2;
}

#course_table tr:hover {
	background-color: #ddd;
}

#course_table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #3f51b5;
	color: #fff;
	font-size: 1.2rem;
}

.delete {
	background-color: crimson;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	padding: 5px;
}